<!DOCTYPE html>
<html>
	<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/_posts">Posts</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">

		{{ content }}
			
    		</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:afisher5219@sdsu.edu">email</a></li>
	        		<li><a href="https://github.com/aoifefisher">github.com/aoifefisher</a></li>
				</ul>
			</footer>
		</body>
</html>
